<div class="card w-100 p-3" >

<div class="card-body border border-dark " style="margin-top: 2em; cursor:pointer">
    <h5 class="card-title d-flex justify-content-between text-dark" style="background-color: aquamarine ;padding: 4px">Welcome to the Thunderdome!! Git your RESUMES READY!!!</h5>
    <p class="card-text">Are you currently job hunting? Do you practice best practices when it comes to resume submittal and tailor every resume to the individual job? Are you tired of trying 
        to remember what stage you are in with whom? Well look no further. Git-that-money is the provider for you. Sign-up for Otis-Steve LLC's service today and enjoy a one stop 
        shop for your job hunting endeavors. </br></br></br>Think you'll only need it just the one time? Well this isn't your parent's job market anymore where every one gets a pension after 
        serving 20 years in the same place. The quickest way to increase your earning potential is to job hop. So keep a running list of job options and communications with recruiters to ensure that
        you're always mere steps from your next big break! </br></br></br> </br></br></br> Be on the lookout for added services and industry specific recruiters. Great hunting.
    </p> 
</div>

</div>
